<div>
  <mat-toolbar class="docs-navbar-header">
    <mat-toolbar-row>
      <div class="page" fxLayout="row">
        <div class="sideNav">
          <div>
            <mat-icon matTooltip="Main menu" (click)="drawer.toggle()">menu</mat-icon>
          </div>
          <div class="image">
            <img src="assets/Fundoo-images/googleKeep.png" class="image">
          </div>
          <h1 class="fundoo">Fundoo Note</h1>
        </div>
        <div class="searchBar">
          <mat-card class="searchbar">
            <button class="searchbutton" (click)="search(val.value)" mat-icon-button>
              <mat-icon matSuffix>search</mat-icon>
            </button>
            <input class="searchinput" type="text" name="search" #val autocomplete="off" placeholder="Search"
              (keyup.enter)="search(val.value)" #val>

          </mat-card>
          <!-- <div class="refresh">
            <button id="refreshbutton" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
          </div> -->
        </div>
        <div class="listgrid" fxLayout="row">
          <div>
            <button mat-icon-button class="listButton" *ngIf="view" matTooltip="View Grid" (click)="gridView()">
              <mat-icon>view_module</mat-icon>
            </button>
            <button mat-icon-button class="gridButton" *ngIf="!view" matTooltip="List View" (click)="gridView()">
              <mat-icon>view_agenda</mat-icon>
            </button>
          </div>
        </div>

        <div class="profilepicturdiv">
          <img class="picture propic" alt="ProfilePicture"   matTooltip="Bandi Venu {{email}}"
            src="../../../assets/download.jpg" [matMenuTriggerFor]="menu">
          <!-- <img class="picture" alt="ProfilePicture" *ngIf="profilePic" src="{{profilePicture}}"
            [matMenuTriggerFor]="menu"> -->
        </div>
        <mat-menu #menu="matMenu" (click)="$event.stopPropagation();">
          <div class="totaldivsignout">
            <div class="logoutdiv">
              <div class="photo" (click)="$event.stopPropagation();">
                <img class="pic" alt="Profile Picture"  matTooltip="Profile"
                  src="../../../assets/download.jpg">
              </div>
              <div class="changePic photopic">
                <a mat-raised-button (click)="ChangeProfile()" class="photoedit cameraimg"><img
                    src="../../../assets/camera_alt-24px.svg"></a>
                  </div>
            </div>
            <div class="username">
              <!-- <div class="usernamediv">{{account.firstName}}{{lastName}}</div>
              <div class="usermail">{{account.email}}</div> -->
              <div class="usernamediv">Bandi Venu</div>
              <!-- <div class="usermail">bandivenu89@gmail.com</div> -->
              <div class="usermail">{{email}}</div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="addpersondiv">
            <button mat-button class="add">
              <div class="collab">
                <div class="addact">
                  <mat-icon class="addicon">person_add</mat-icon>
                  <div class="addAcount">Add another account</div>
                </div>
              </div>
            </button>
          </div>
          <mat-divider></mat-divider>

          <div class="signoutclass">
            <button mat-button class="signout" (click)="logout()">Sign Out</button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="sidenavdiv">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <mat-nav-list class="list">
        <a mat-list-item class="notes" (click)="notes()">
          <!-- <mat-icon>emoji_objects</mat-icon> -->
          <img class="bulb" src="../../../assets/lightbulb.png">
          Notes
        </a>
        <a mat-list-item class="notes" (click)="reminder()">
          <!-- <mat-icon>notifications</mat-icon> -->
          <img class="bulb" src="../../../assets/notifications_none-24px.svg">Reminders
        </a>
        <div *ngFor="let lab of allLabels">
          <a mat-list-item matTooltip={{lab.labelName}} (click)="labelOperation(lab.labelName)">
            <mat-icon>label_outline</mat-icon><a class="margin">{{lab.labelName}}</a>
          </a> 
        </div>
        <div>
          <a mat-list-item class="notes" (click)="openDialog(allLabels)">
            <!-- <mat-icon>create</mat-icon> -->
            <img class="bulb" src="../../../assets/create-24px.svg">
          Edit Labels
          </a>
        </div>
       
        <a mat-list-item class="notes" (click)="archive()">
          <!-- <mat-icon>archive</mat-icon> -->
          <img class="bulb" src="../../../assets/archive-24px (1).svg">
          Archive
        </a>
        <a mat-list-item class="notes" (click)="trash()">
          <!-- <mat-icon>delete</mat-icon> -->
          <img class="bulb" src="../../../assets/delete-24px (1).svg">Trash
        </a> 
      </mat-nav-list>
    </mat-drawer>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>