.card
{
//   margin-top: 6%;
//   margin-left: 30%;
//   margin-right: 20%;
  margin: auto;
  align-items: center;
  width: 50%;
  height: 59%;
  align-content: center;
  background-color: whitesmoke;
  box-shadow: 5px 4px 7px rgba(141, 124, 124, 0.3)
}
.reset-full-width {
    width: 35%;
  }
  .d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkslategray;
  }
  h1{
    color: darkslategray;
    padding-top: 3%;
}
.subtitle
{
    color: darkslategray;
    align-items: center;
    align-content: center;
    align-self: center;
}