<div class="card">
    <h1>FUNDOO NOTE</h1>
    <div>
        <div>
            <mat-card-title-group>
                <mat-card-title class="subtitle">Reset Your Account Password</mat-card-title>
            </mat-card-title-group>
        </div>
        <div>
            <label class="d-flex">New Password</label>
            <mat-form-field class="reset-full-width" appearance="outline">
                <mat-label class="labelColor">Password</mat-label>
                <input matInput [formControl]="password" placeholder="" type="password">
                <mat-error *ngIf="password.hasError('required')">Enter a password</mat-error>
                <mat-error *ngIf="password.hasError('minlength')"> Use 8 characters or more for your password
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <label class="d-flex">Confirm Password</label>
            <mat-form-field class="reset-full-width" appearance="outline">
                <mat-label class="labelColor">Confirm Password</mat-label>
                <input matInput [formControl]="confirmPassword" placeholder="" type="password">
                <mat-error *ngIf="confirmPassword.hasError('required')">Enter a password</mat-error>
                <mat-error *ngIf="confirmPassword.hasError('minlength')"> Use 8 characters or more for your password
                </mat-error>
            </mat-form-field>
        </div>
        <div class="button">
            <button mat-raised-button type="button" color="primary" (click)="resetPassword()" class="reset">Reset</button>
        </div>
    </div>
</div>