<div *ngIf="!notes.trash; else moveToTrash">
    <div fxLayout="row" class="icons">
        <button mat-icon-button matTooltip="Remind me" [matMenuTriggerFor]="remind" id="remind"
            (click)="$event.stopPropagation();">
            <mat-icon>add_alert</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Collaborator" (click)="openCollabDialog(data)">
            <mat-icon>person_add</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Add color" [matMenuTriggerFor]="addColors" id="palette">
            <mat-icon>palette
            </mat-icon>
        </button>
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button mat-icon-button matTooltip="Add image" (click)="fileInput.click()">
            <mat-icon>image</mat-icon>
        </button>
        <button id="unarchive" mat-icon-button *ngIf="notes.archive" matTooltip="UnArchive" (click)="updateUnArchive()">
            <mat-icon>unarchive</mat-icon>
        </button>
        <button id="archive" mat-icon-button *ngIf="!notes.archive" matTooltip="Archive" (click)="updateArchive()">
            <mat-icon>archive</mat-icon>
        </button>
        <button mat-icon-button matTooltip="more" id="more" [matMenuTriggerFor]="moreVert">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <div fxLayout="row" class="icon-style icon-shadow" style="left: 397px; top: 597px;">
        <mat-menu #addColors="matMenu" [overlapTrigger]="false">
            <ng-template matMenuContent>
                <div class="colorPalette">
                    <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 1px" *ngFor="let color of colors">
                        <div *ngFor="let clr of color" fxLayout="column">
                            <button [ngStyle]="{'background-color': clr.color}" mat-mini-fab matTooltip="{{ clr.name }}"
                                (click)="setColor(clr.color)">
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-menu>
    </div>

    <mat-menu #remind="matMenu" (click)="$event.stopPropagation();">
        <mat-card class="size">

            <div fxLayout="row">
            </div>
            <div class="arrow">
                <mat-icon matTooltip="Go back">arrow_back</mat-icon>
            </div>
            <div class="pickDate">
                Pick date & time
            </div>

            <mat-form-field (click)="$event.stopPropagation();">
                <input id="date" matInput [matDatepicker]="date" value="matDatepicker" #picdate>
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
            </mat-form-field>

            <br>
            <mat-form-field appearance="fill" class="color" (click)="$event.stopPropagation();">
                <mat-label>8:00 AM</mat-label>
                <mat-select id="time">
                    <mat-option value="8:00 AM" (click)="setTime(a.value)" #a>Morning 8:00 AM</mat-option>
                    <mat-option value="1:00 PM" (click)="setTime(b.value)" #b>Afternoon 1:00 PM</mat-option>
                    <mat-option value="6:00 PM" (click)="setTime(c.value)" #c>Evening 6:00 PM</mat-option>
                    <mat-option value="8:00 PM" (click)="setTime(d.value)" #d>Night 8:00 PM</mat-option>
                    <mat-option value="10:00 AM" (click)="setTime(e.value)" #e>Custom</mat-option>
                    <!-- <input matInput [ngxTimepicker]="pickertime" placeholder="Choose a time">
                     <ngx-datepicker-toggle matSuffix [for]="time"></mat-datepicker-toggle> 
                    <ngx-material-timepicker-toggle matSuffix [for]="timePick"></ngx-material-timepicker-toggle>
                    <ngx-material-timepicker #pickertime></ngx-material-timepicker> -->
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="color" (click)="$event.stopPropagation();">
                <mat-label>Does not repeat</mat-label>
                <mat-select class="repeat">
                    <mat-option value="not" (click)="setRepitation(f.value)" #f>Does not repeat</mat-option>
                    <mat-option value="daily" (click)="setRepitation(g.value)" #g>Daily</mat-option>
                    <mat-option value="weekly" (click)="setRepitation(h.value)" #h>Weekly</mat-option>
                    <mat-option value="monthly" (click)="setRepitation(i.value)" #i>Monthly</mat-option>
                    <mat-option value="yearly" (click)="setRepitation(j.value)" #j>Yearly</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button (click)="saveReminder(picdate.value)" id="save">Save</button>
        </mat-card>
    </mat-menu>

    <mat-menu #moreVert="matMenu">
        <button mat-menu-item (click)="updateTrash()" id="deleteNote">Delete Note</button>
        <button mat-menu-item [matMenuTriggerFor]="addLabel" id="label">Add Label</button>
        <button mat-menu-item  id="checkbox">Show Checkboxes</button>
    </mat-menu>

</div>
<ng-template #moveToTrash>
    <div fxLayout="row" class="delete">
        <div>
            <button mat-menu-item class="trash" (click)="deleteForever()" id="delete_forever"
                matTooltip="DeleteForever">
                <mat-icon class="margin">delete_forever</mat-icon>
            </button>
        </div>
        <div>
            <button id="restore" class="trash" mat-menu-item (click)="restore()" matTooltip="Restore">
                <mat-icon class="mr">restore_from_trash</mat-icon>
            </button>
        </div>
    </div>
</ng-template>
<div>
    <mat-menu #addLabel="matMenu" (click)="$event.stopPropagation();">
        <mat-card (click)="$event.stopPropagation();">
            Label Note
            <input id="label_text" matInput placeholder="Enter label name" value="" #label>
            <mat-divider></mat-divider>
            <div *ngFor="let label of labels">
                <mat-checkbox (change)="newLabel(label.labelName)"></mat-checkbox>{{label.labelName}}
            </div>
            <button *ngIf="label.value!=''" mat-button (click)="newLabel(label.value)" id="create">Create
                "{{label.value}}"</button>
        </mat-card>
    </mat-menu>
</div>