.card
{
  margin-top: 6%;
  margin-left: 30%;
  margin-right: 20%;
  align-items: center;
  width: 40%;
  height: 45%;
  align-content: center;
  background-color: whitesmoke;
  box-shadow: 5px 4px 7px rgba(141, 124, 124, 0.3)
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.w-55{
    width: 100% !important;
  }
.forgot-full-width {
    width: 45%;
  }
  h1{
    color: darkslategray;
    padding-top: 35px;
}
.cancel{
    cursor: pointer;
    text-align: center;
    width: 82px;
    justify-content: center;
}

.button{
    text-align: center;
}
.subtitle
{
    color: darkslategray;
    align-items: center;
    align-content: center;
    align-self: center;
}





